<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>링크 연결하기</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="link" style="text-align: center; margin-top: 50px;">
            <h2><span>링크</span></h2><br>
            <input type="text" name="url" style="width:500px; height: 50px; font-size:18px;" placeholder="URL을 입력하세요"><br>
            <input type="submit" value="확인" style="width: 80px; height: 40px; font-size: 18px; background: #BCAFFF; margin-top: 80px; color : #FFFFFF; outline: 0; border: 0; ">
        </div>
    </body>
</html>

<style>
    h2 {
        align-items: center;
    }
</style>