<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>파일 찾아보기</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <script src = "{{ url_for('static', filename='javascript/main.js') }}">


</script>
<!--
<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>파일 찾아보기</title>
    </head>
    <body>
        <center><form action = "http://localhost:5000/fileUpload" method="POST"
        enctype = "multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit"/></center>
        <img src="{{ url_for('static', filename='image/file-storage.png') }}" 
        style="width: 100px; height: 100px; margin-left: 200px; margin-top: 50px;">
    </form>
    </body>
</html>
-->